<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>


<div id="surveyContainer" data-controller="survey" data-survey-form="<%= @survey.form %>"></div>
